* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #0B0B0B;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #FFFFFF;
  padding: 30px 62px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header {
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  padding-top: 36px;
  margin-bottom: 29px;
}

.header-menu-btn {
  margin-top: 31px;
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #FFFFFF;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-menu-btn div {
  width: 36px;
  height: 2px;
  margin: 5px 0;
  background-color: #FFFFFF;
}

.header-content__title {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 96px;
  line-height: 112px;
  color: #FFFFFF;
  margin-bottom: 42px;
}

.header-content__text {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  width: 284px;
  margin-bottom: 25px;
}

.button {
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #FFFFFF;
  padding: 30px 62px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  background-color: #770302;
  border: 1px solid #FFFFFF;
}

.swiper-container {
  position: static;
}

.swiper-slide {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-pagination {
  position: relative;
  max-width: 1200px;
  margin: -23px auto 0;
  text-align: start;
  padding: 0 15px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: black;
}

.swiper-pagination-bullet-active {
  color: #FFFFFF;
  background: #FFFFFF;
}

.menu {
  background-color: #0B0B0B;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu.active {
  left: 0;
}

.menu__list {
  color: #FFFFFF;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list a {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
  outline: none;
  padding: 30px 25px 14px 0;
  border-bottom: 3px solid #B70021;
  display: inline-block;
  min-width: 410px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu__list a:hover {
  border-color: #FFFFFF;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-left: 37px;
}

.container-menu {
  position: relative;
}

.close-button {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 15px;
  top: 31px;
  cursor: pointer;
}

.close-button:before, .close-button:after {
  content: "";
  width: 70px;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.close-button:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-button:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: -1px;
}

.characteristics {
  margin: 105px 0 100px;
}

.characteristics-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.characteristics-item__title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 19px;
}

.characteristics-item__num {
  font-family: 'Roboto', sans-serif;
  font-size: 96px;
  line-height: 112px;
  color: #FFFFFF;
  margin-bottom: 7px;
  margin-left: 30px;
}

.characteristics-item__num span {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  line-height: 28px;
  margin-left: -20px;
}

.characteristics-item__num--speed span {
  display: inline-block;
  position: relative;
}

.characteristics-item__num--speed span::before {
  content: "+";
  position: absolute;
  top: -60px;
}

.characteristics-item__description {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #B70021;
}

.video {
  margin-bottom: 100px;
}

.advantages-inner__row {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.advantages-description {
  max-width: 570px;
  width: 100%;
}

.advantages__title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: #B70021;
  position: absolute;
  top: 0;
}

.advantages__title--bottom {
  bottom: 0;
  right: 0;
  top: auto;
}

.advantages__text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  width: 303px;
}

.design__image {
  margin-bottom: 100px;
}

.design__image img {
  width: 100%;
}

.design-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design-content__item {
  max-width: 570px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 15px;
}

.design-content__item-num {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #B70021;
}

.design-content__item-text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  max-width: 450px;
  padding-top: 30px;
  padding-bottom: 100px;
}

.footer {
  background-color: #690102;
  padding: 83px 0 20px;
}

.footer-btn {
  text-align: center;
  margin-bottom: 83px;
}

.footer-links {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.footer-links li {
  display: inline-block;
  padding: 0 10px;
}

.footer-links li:not(:last-child) {
  padding-right: 15px;
  border-right: 3px solid #FFFFFF;
}

.footer-links a {
  color: #FFFFFF;
}

@media (max-width: 1220px) {
  .advantages__text {
    padding-left: 20px;
  }
  .design__image img {
    width: 100%;
  }
}

@media (max-width: 930px) {
  .advantages-inner__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  .advantages-description {
    text-align: center;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .advantages-description:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .advantages__title {
    position: static;
  }
  .advantages__text {
    margin: 30px auto;
    padding-left: 0;
  }
  .design-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 820px) {
  .characteristics-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .characteristics-item {
    padding-bottom: 30px;
  }
}

@media (max-width: 650px) {
  .header-content__title {
    font-size: 90px;
  }
  .advantages__img img {
    width: 100%;
  }
  .menu__list a {
    font-size: 40px;
    min-width: 350px;
  }
  .menu__list a:hover {
    border-color: #FFFFFF;
    -webkit-transform: none;
            transform: none;
    margin-left: 0;
  }
}

@media (max-width: 411px) {
  .logo img {
    width: 200px;
  }
  .header-content__title {
    font-size: 70px;
    margin-top: 20px;
    line-height: 85px;
  }
  .menu__list a {
    font-size: 30px;
    line-height: 44px;
    padding: 19px 10px 7px 0;
    display: block;
    min-width: 100%;
  }
  .menu__list ul {
    width: 100%;
  }
  .button {
    font-size: 20px;
    padding: 20px 45px;
  }
  .characteristics {
    margin: 70px 0 70px;
  }
  .characteristics-item {
    padding: 30px 0;
  }
  .video {
    margin-bottom: 30px;
  }
  .advantages__text {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */