.advantages-inner__row {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.advantages-description {
    max-width: 570px;
    width: 100%;
}

.advantages__title {
    @include font-roboto-condensed;
    font-size: 36px;
    line-height: 42px;
    color: $color-main-red;
    position: absolute;
    top: 0;

    &--bottom {
        bottom: 0;
        right: 0;
        top: auto;
    }
}

.advantages__text {
    @include font-roboto-condensed;
    font-size: 24px;
    line-height: 28px;
    color: $color-white;
    width: 303px;

}