* {
    box-sizing: border-box;
}

body {
    background: $color-black;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.button {
    @include button;
}