.header {
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 36px;
    margin-bottom: 29px;
}

.header-menu-btn {
    margin-top: 31px;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid $color-white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    div {
        width: 36px;
        height: 2px;
        margin: 5px 0;
        background-color: $color-white;
    }

}

.header-content {
    &__title {
        @include font-roboto;
        font-weight: normal;
        font-size: 96px;
        line-height: 112px;
        color: $color-white;
        margin-bottom: 42px;
    }

    &__text {
        @include font-roboto-condensed;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: $color-white;
        width: 284px;
        margin-bottom: 25px;
    }
}

.button {
    @include button;
    &:hover {
        background-color: #770302;
        border: 1px solid $color-white;
    }
}

.swiper-container {
    position: static;
}

.swiper-slide {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.swiper-pagination {
    position: relative;
    max-width: 1170px;
    margin: -23px auto 0;
    text-align: start;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color:#000;
    opacity: 1;
    background: rgba(0,0,0,1);
  }
  
  .swiper-pagination-bullet-active {
    color: $color-white;
    background: $color-white;
  }