
@media (max-width: 1220px) {
    .advantages__text {
        padding-left: 20px;
    }
    
    .design__image img {
        width: 100%;
    }
}


@media (max-width: 930px) {
    .advantages-inner__row {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .advantages-description {
        text-align: center;
        order: -1;

        &:last-child {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    .advantages__title {
        position: static;
    }

    .advantages__text {
        margin: 30px auto;
        padding-left: 0;
    }

    .design-content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 820px) {
    .characteristics-items {
        flex-wrap: wrap;
    }

    .characteristics-item {
        padding-bottom: 30px;
    }
}

@media (max-width: 650px) {
    .header-content__title {
        font-size: 90px;
    }

    .advantages__img img {
        width: 100%;
    }

    .menu__list a {
        font-size: 40px;
        min-width: 350px;

        &:hover {
            border-color: $color-white;
            transform: none;
            margin-left: 0;
        }
    }
}

@media (max-width: 411px) {
    .logo img {
        width: 200px;
    }

    .header-content__title {
        font-size: 70px;
        margin-top: 20px;
        line-height: 85px;
    }

    .menu__list a {
        font-size: 30px;
        line-height: 44px;
        padding: 19px 10px 7px 0;
        display: block;
        min-width: 100%;
    }

    .menu__list ul {
        width: 100%;
    }

    .button {
        font-size: 20px;
        padding: 20px 45px;
    }

    .characteristics {
        margin: 70px 0 70px;
    }

    .characteristics-item {
        padding: 30px 0;
    }

    .video {
        margin-bottom: 30px;
    }

    .advantages__text {
        width: 100%;
    }
}